{% extends 'tournaments/base.html' %}
{% load static %}

{% block content %}
    <h1 class="mb-5">A propos de nous</h1>
    <div class="row">
      <div class="col-md-6">
        <img src="{% static 'tournaments/images/axel.png' %}" class="img-fluid rounded mb-3" style="width: 200px; height: 200px;" alt="Photo de Axel Goré">
        <h2>Axel Goré</h2>
        <p>Fondateur de l'application, Axel est passionné de jeux vidéo depuis son plus jeune âge. Diplômé en marketing, il met aujourd'hui son expertise au service du développement de l'entreprise.</p>
      </div>
      <div class="col-md-6">
        <img src="{% static 'tournaments/images/romain.png' %}" class="img-fluid rounded mb-3" style="width: 200px; height: 200px;" alt="Photo de Romain Brogniez">
        <h2>Romain Brogniez</h2>
        <p>Co-fondateur et développeur de l'application, Romain est un véritable expert en programmation informatique. Il est en charge du développement et de la maintenance de la plateforme.</p>
      </div>
    </div>
{% endblock %}
