{% extends 'tournaments/base.html' %}
{% load static %}

{% block content %}

<h1>Bienvenue sur VOTRE application de compétitions personnalisées !</h1>

<div class="row m-5">
  <div class="col-lg-6 d-flex flex-column justify-content-center">
    <p class="mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
    molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
    numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
    optio, eaque rerum! Provident similique accusantium nemo autem. Veritatis
    obcaecati tenetur iure eius earum ut molestias architecto voluptate aliquam
    nihil, eveniet aliquid culpa officia aut! Impedit sit sunt quaerat, odit,
    tenetur error, harum nesciunt ipsum debitis qus</p>

    <a href="/tournois" class="btn btn-primary">Créer un tournoi</a>
  </div>
  <div class="col-lg-6">
    <img src="{% static 'tournaments/images/Cup - Logo.jpeg' %}" height="300">
  </div>
</div>

<div class="row m-5">
  <div class="col-lg-6">
    <img src="{% static 'tournaments/images/Game 2 - Logo.png' %}" height="300">
  </div>
  <div class="col-lg-6 d-flex flex-column justify-content-center">
    <p class="mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
    molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
    numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
    optio, eaque rerum! Provident similique accusantium nemo autem. Veritatis
    obcaecati tenetur iure eius earum ut molestias architecto voluptate aliquam
    nihil, eveniet.</p>

    <a href="/jeux" class="btn btn-primary">Liste des jeux disponibles</a>
  </div>
</div>

{% endblock %}
