{% extends 'tournaments/base.html' %}
{% load static %}

{% block content %}
    <h1 class="d-flex justify-content-center mb-4">{{ tournament.tournament_name }}</h1>
    <div class="container d-flex justify-content-center card" style="width: 50%;">
      <img src="{{ game.game_image.url }}" alt="{{ tournament.game_name }}">
      <div class="card-body p-0">
      <ul class="container ">
        <ul class="container list-group list-group-flush ">
          <li class="list-group-item"><strong>Jeu :</strong> {{ tournament.game }}</li>
          <li class="list-group-item"><strong>Propriétaire : </strong>{{ tournament.admin }}</li>
          <li class="list-group-item"><strong>Nombre de participants : </strong>{{ tournament.nb_players }}</li>
          <li class="list-group-item"><strong>Joueurs : </strong>{{ tournament.player1 }} - {{ tournament.player2 }} - {{ tournament.player3 }} -
              {{ tournament.player4 }} - {{ tournament.player5 }} - {{ tournament.player6 }} -
              {{ tournament.player7 }} - {{ tournament.player8 }}</li>
          <li class="list-group-item"><strong>Date de début : </strong>{{ tournament.start_date }}</li>
          <li class="list-group-item"><strong>Heure de début : </strong>{{ tournament.start_time }}</li>
      </ul>
  </div>
  <div class="container d-flex justify-content-around my-4">
    <button type="button" class="btn-update btn btn-primary"><a class="btn-link"
        href="{% url 'tournament-update' tournament.id %}">Modifier</a></button>
    <button type="button" class="btn-update btn btn-primary"><a class="btn-link"
        href="{% url 'tournament-delete' tournament.id %}">Supprimer</a></button>
  </div>
</div>

<div class="container mt-5">
  <div class="row mt-4">
    <div class="col text-center">
      <h2><u>ROUND 1</u></h2>
      <div class="d-flex justify-content-center">
        <ul class="p-0">
          <div class="my-4">
            <li class="d-flex justify-content-between player tb text-decoration-none border border-3 rounded-3 m-2 width-li">
              <label class="ps-4" id="player-r1-m1-p1" for="r1-m1-p1"><strong>{{ tournament.player1 }}</strong></label>
              <input class="w-25 tb-input" id="score-r1-m1-p1" type="number" name="score" value="{{ score.player1 }}">
            </li>
            <li class="d-flex justify-content-between player tb text-decoration-none border border-3 rounded-3 m-2 width-li">
              <label class="ps-4" id="player-r1-m1-p2" for="r1-m1-p1"><strong>{{ tournament.player2 }}</strong></label>
              <input class="w-25 tb-input" id="score-r1-m1-p2" type="number" name="score" value="{{ score.player1 }}">
            </li>
          </div>
          <div class="my-4">
            <li
              class="d-flex justify-content-between player tb text-decoration-none border border-3 rounded-3 m-2 width-li">
              <label class="ps-4" id="player-r1-m2-p3" for="r1-m1-p1"><strong>{{ tournament.player3 }}</strong></label>
              <input class="w-25 tb-input" id="score-r1-m2-p3" type="number" name="score" value="{{ score.player3 }}">
            </li>
            <li class="d-flex justify-content-between player tb text-decoration-none border border-3 rounded-3 m-2 width-li">
              <label class="ps-4" id="player-r1-m2-p4" for="r1-m1-p1"><strong>{{ tournament.player4 }}</strong></label>
              <input class="w-25 tb-input" id="score-r1-m2-p4" type="number" name="score" value="{{ score.player4 }}">
            </li>
          </div class="my-4">
          <div>
            <li class="d-flex justify-content-between player bb text-decoration-none border border-3 rounded-3 m-2 width-li">
              <label class="ps-4" id="player-r1-m3-p5" for="r1-m1-p1"><strong>{{ tournament.player5 }}</strong></label>
              <input class="w-25 bb-input" id="score-r1-m3-p5" type="number" name="score" value="{{ score.player5 }}">
            </li>
            <li class="d-flex justify-content-between player bb text-decoration-none border border-3 rounded-3 m-2 width-li">
              <label class="ps-4" id="player-r1-m3-p6" for="r1-m1-p1"><strong>{{ tournament.player6 }}</strong></label>
              <input class="w-25 bb-input" id="score-r1-m3-p6" type="number" name="score" value="{{ score.player6 }}">
            </li>
          </div>
          <div class="my-4">
            <li class="d-flex justify-content-between player bb text-decoration-none border border-3 rounded-3 m-2 width-li">
              <label class="ps-4" id="player-r1-m4-p7" for="r1-m1-p1"><strong>{{ tournament.player7 }}</strong></label>
              <input class="w-25 bb-input" id="score-r1-m4-p7" type="number" name="score" value="{{ score.player7 }}">
            </li>
            <li class="d-flex justify-content-between player bb text-decoration-none border border-3 rounded-3 m-2 width-li">
              <label class="ps-4" id="player-r1-m4-p8" for="r1-m1-p1"><strong>{{ tournament.player8 }}</strong></label>
              <input class="w-25 bb-input" id="score-r1-m4-p8" type="number" name="score" value="{{ score.player8 }}">
            </li>
          </div>
        </ul>
      </div>
      <input type="submit" class="btn btn-primary" onclick="DefinePlayersR2()" value="Verrouiller le round">
    </div>
    <div class="col text-center">
      <h2><u>DEMI-FINALES</u></h2>
      <div class="d-flex justify-content-center">
        <ul class="p-0">
          <div class="round2-m1-margin">
            <li class="d-flex justify-content-between player tb text-decoration-none border border-3 rounded-3 m-2 width-li">
              <strong><label class="ps-4" id="player-r2-m1-p1"></label></strong>
              <input class="w-25 tb-input" id="score-r2-m1-p1" type="number" name="score" value="{{ score.player1 }}">
            </li>
            <li class="d-flex justify-content-between player tb text-decoration-none border border-3 rounded-3 m-2 width-li">
              <strong><label class="ps-4" id="player-r2-m1-p2"></label></strong>
              <input class="w-25 tb-input" id="score-r2-m1-p2" type="number" name="score" value="{{ score.player1 }}">
            </li>
          </div>
          <div class="round2-m2-margin">
            <li class="d-flex justify-content-between player bb text-decoration-none border border-3 rounded-3 m-2 width-li">
              <strong><label class="ps-4" id="player-r2-m2-p3"></label></strong>
              <input class="w-25 bb-input" id="score-r2-m2-p3" type="number" name="score" value="{{ score.player3 }}">
            </li>
            <li class="d-flex justify-content-between player bb text-decoration-none border border-3 rounded-3 m-2 width-li">
              <strong><label class="ps-4" id="player-r2-m2-p4"></label></strong>
              <input class="w-25 bb-input" id="score-r2-m2-p4" type="number" name="score" value="{{ score.player4 }}">
            </li>
          </div>
        </ul>
      </div>
      <input type="submit" class="btn btn-primary btn-round-2" onclick="DefinePlayersFinale()" value="Verrouiller le round">
    </div>
    <div class="col text-center">
      <h2><u>FINALE</u></h2>
      <div class="d-flex justify-content-center">
      <ul class="p-0">
        <div class="finale-margin">
          <li class="d-flex justify-content-between player tb text-decoration-none border border-3 rounded-3 m-2 width-li">
            <strong><label class="ps-4" id="player-r3-m1-p1"></label></strong>
            <input class="w-25 tb-input" id="score-r3-m1-p1" type="number" name="score" value="{{ score.player1 }}">
          </li>
          <li class="d-flex justify-content-between player bb text-decoration-none border border-3 rounded-3 m-2 width-li">
            <strong><label class="ps-4" id="player-r3-m1-p2"></label></strong>
            <input class="w-25 bb-input" id="score-r3-m1-p2" type="number" name="score" value="{{ score.player1 }}">
          </li>
        </div>
      </ul>
    </div>
    <input type="submit" class="btn btn-primary btn-round-finale" onclick="DefineWinner()" value="Verrouiller le round">
    </div>
  </div>
  <div class="winner-display mt-5" id="winner-display" style="display:none;">
    <img src="{% static 'tournaments/images/Crown - Logo.png' %}" alt="winner">
    <h3 id="winner-name"></h3>
  </div>
</div>
<div class="container mt-3">
  <button type="button" class="btn-return-tournament btn btn-primary mt-5"><a class="btn-link"
      href="{% url 'tournament-list' %}">Liste des tournois</a></button>
</div>
{% endblock %}