{% extends 'tournaments/base.html' %}
{% load static %}

{% block content %}
    <h1 class="d-flex justify-content-center mb-4">{{ tournament.tournament_name }}</h1>
    <div class="container d-flex justify-content-center card" style="width: 50%;">
      <img src="{{ game.game_image.url }}" alt="{{ tournament.game_name }}">
      <div class="card-body p-0">
      <ul class="container ">
        <ul class="container list-group list-group-flush ">
          <li class="list-group-item"><strong>Jeu :</strong> {{ tournament.game }}</li>
          <li class="list-group-item"><strong>Propriétaire : </strong>{{ tournament.admin }}</li>
          <li class="list-group-item"><strong>Nombre de participants : </strong>{{ tournament.nb_players }}</li>
          <li class="list-group-item"><strong>Joueurs : </strong>{{ tournament.player1 }} - {{ tournament.player2 }} - {{ tournament.player3 }} -
              {{ tournament.player4 }} - {{ tournament.player5 }} - {{ tournament.player6 }} -
              {{ tournament.player7 }} - {{ tournament.player8 }}</li>
          <li class="list-group-item"><strong>Date de début : </strong>{{ tournament.start_date }}</li>
          <li class="list-group-item"><strong>Heure de début : </strong>{{ tournament.start_time }}</li>
      </ul>
    </div>
      <div class="container d-flex justify-content-center my-4">
        <button type="button" class="btn-update btn btn-primary"><a class="btn-link" href="{% url 'tournament-update' tournament.id %}">Modifier</a></button>
      </div>
    </div>

    <div class="container">
      <form action=""method="post"></form>
        <div class="row align-items-start mt-4">
            <div class="col text-center">
                <h2 class="mb-4">Round 1</h2>
                  <ul>
                    <li class="player tb text-decoration-none border border-3 rounded-3 m-2">
                      <label class="me-5" id="player-r1-m1-p1" for="r1-m1-p1"><strong>{{ tournament.player1 }}</strong></label>
                      <input class="w-25" id="score-r1-m1-p1" type="number" name="score" value="{{ score.player1 }}">
                    </li>
                    <li class="player tb text-decoration-none border border-3 rounded-3 m-2">
                      <label class="me-5" id="player-r1-m1-p2" for="r1-m1-p1"><strong>{{ tournament.player2 }}</strong></label>
                      <input class="w-25" id="score-r1-m1-p2" type="number" name="score" value="{{ score.player1 }}">
                    </li>
                    <li class="player tb text-decoration-none border border-3 rounded-3 m-2">
                      <label class="me-5" id="player-r1-m2-p3" for="r1-m1-p1"><strong>{{ tournament.player3 }}</strong></label>
                      <input class="w-25" id="score-r1-m2-p3" type="number" name="score" value="{{ score.player3 }}">
                    </li>
                    <li class="player tb text-decoration-none border border-3 rounded-3 m-2">
                      <label class="me-5" id="player-r1-m2-p4" for="r1-m1-p1"><strong>{{ tournament.player4 }}</strong></label>
                      <input class="w-25" id="score-r1-m2-p4" type="number" name="score" value="{{ score.player4 }}">
                    </li>
                    <li class="player bb text-decoration-none border border-3 rounded-3 m-2">
                      <label class="me-5" id="player-r1-m3-p5" for="r1-m1-p1"><strong>{{ tournament.player5 }}</strong></label>
                      <input class="w-25" id="score-r1-m3-p5" type="number" name="score" value="{{ score.player5 }}">
                    </li>
                    <li class="player bb text-decoration-none border border-3 rounded-3 m-2">
                      <label class="me-5" id="player-r1-m3-p6" for="r1-m1-p1"><strong>{{ tournament.player6 }}</strong></label>
                      <input class="w-25" id="score-r1-m3-p6" type="number" name="score" value="{{ score.player6 }}">
                    </li>
                    <li class="player bb text-decoration-none border border-3 rounded-3 m-2">
                      <label class="me-5" id="player-r1-m4-p7" for="r1-m1-p1"><strong>{{ tournament.player7 }}</strong></label>
                      <input class="w-25" id="score-r1-m4-p7" type="number" name="score" value="{{ score.player7 }}">
                    </li>
                    <li class="player bb text-decoration-none border border-3 rounded-3 m-2">
                      <label class="me-5" id="player-r1-m4-p8" for="r1-m1-p1"><strong>{{ tournament.player8 }}</strong></label>
                      <input class="w-25" id="score-r1-m4-p8" type="number" name="score" value="{{ score.player8 }}">
                    </li>
                  </ul>
                  <input type="submit" onclick="DefinePlayersR2()" value="Verrouiller le round">
                  <!--
                  {% csrf_token %}
                  {{ form_r1.as_p }}
                -->
            </div>
            <div class="col text-center">
                <h2 class="mb-4">Round 2</h2>
                <ul>
                  <li class="player tb text-decoration-none border border-3 rounded-3 m-2">
                    <label class="me-5" id="player-r2-m1-p1"></label>
                    <input class="w-25" id="score-r2-m1-p1" type="number" name="score" value="{{ score.player1 }}">
                  </li>
                  <li class="player tb text-decoration-none border border-3 rounded-3 m-2">
                    <label class="me-5" id="player-r2-m1-p2"></label>
                    <input class="w-25" id="score-r2-m1-p2" type="number" name="score" value="{{ score.player1 }}">
                  </li>
                  <li class="player bb text-decoration-none border border-3 rounded-3 m-2">
                    <label class="me-5" id="player-r2-m2-p3"></label>
                    <input class="w-25" id="score-r2-m2-p3" type="number" name="score" value="{{ score.player3 }}">
                  </li>
                  <li class="player bb text-decoration-none border border-3 rounded-3 m-2">
                    <label class="me-5" id="player-r2-m2-p4"></label>
                    <input class="w-25" id="score-r2-m2-p4" type="number" name="score" value="{{ score.player4 }}">
                  </li>
                </ul>
                <input type="submit" onclick="DefinePlayersFinale()" value="Verrouiller le round">
                <!--
                {% csrf_token %}
                {{ form_r2.as_p }}
                -->
            </div>
            <div class="col text-center">
                <h2 class="mb-4">Finale</h2>
                <ul>
                  <li class="player tb text-decoration-none border border-3 rounded-3 m-2">
                    <label class="me-5 font-weight-bold" id="player-r3-m1-p1"></label>
                    <input class="w-25" id="score-r3-m1-p1" type="number" name="score" value="{{ score.player1 }}">
                  </li>
                  <li class="player bb text-decoration-none border border-3 rounded-3 m-2">
                    <label class="me-5" id="player-r3-m1-p2"></label>
                    <input class="w-25" id="score-r3-m1-p2" type="number" name="score" value="{{ score.player1 }}">
                  </li>
                </ul>
                <!--
                {% csrf_token %}
                {{ form_finale.as_p }}
                -->
            </div>
        </div>
      </form>
    </div>
    <div class="container d-flex justify-content-center mt-3">
      <button type="button" class="btn-return-tournament btn btn-primary my-4"><a class="btn-link" href="{% url 'tournament-list' %}">Liste des tournois</a></button>
    </div>
    {% endblock %}

    <!--
    <section id="bracket" class="tree">
        <div class="container">
        <div class="split split-one">
          <div class="round round-one current">
            <div class="round-details">Round 1<br/><span class="date">March 16</span></div>
            <ul class="matchup">
              <li class="team team-top">Duke<span class="score">76</span></li>
              <li class="team team-bottom">Virginia<span class="score">82</span></li>
            </ul>
            <ul class="matchup">
              <li class="team team-top">Wake Forest<span class="score">64</span></li>
              <li class="team team-bottom">Clemson<span class="score">56</span></li>
            </ul>
            <ul class="matchup">
              <li class="team team-top">North Carolina<span class="score">68</span></li>
              <li class="team team-bottom">Florida State<span class="score">54</span></li>
            </ul>
            <ul class="matchup">
              <li class="team team-top">NC State<span class="score">74</span></li>
              <li class="team team-bottom">Maryland<span class="score">92</span></li>
            </ul>
            <ul class="matchup">
              <li class="team team-top">Georgia Tech<span class="score">78</span></li>
              <li class="team team-bottom">Georgia<span class="score">80</span></li>
            </ul>
            <ul class="matchup">
              <li class="team team-top">Auburn<span class="score">64</span></li>
              <li class="team team-bottom">Florida<span class="score">63</span></li>
            </ul>
            <ul class="matchup">
              <li class="team team-top">Kentucky<span class="score">70</span></li>
              <li class="team team-bottom">Alabama<span class="score">59</span></li>
            </ul>
            <ul class="matchup">
              <li class="team team-top">Vanderbilt<span class="score">64</span></li>
              <li class="team team-bottom">Gonzaga<span class="score">68</span></li>
            </ul>
          </div>  END ROUND ONE

          <div class="round round-two">
            <div class="round-details">Round 2<br/><span class="date">March 18</span></div>
            <ul class="matchup">
              <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
              <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
            </ul>
            <ul class="matchup">
              <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
              <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
            </ul>
            <ul class="matchup">
              <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
              <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
            </ul>
            <ul class="matchup">
              <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
              <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
            </ul>
          </div>  END ROUND TWO

          <div class="round round-three">
            <div class="round-details">Round 3<br/><span class="date">March 22</span></div>
            <ul class="matchup">
              <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
              <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
            </ul>
            <ul class="matchup">
              <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
              <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
            </ul>
          </div>  END ROUND THREE
        </div>

      <div class="champion">
          <div class="semis-l">
            <div class="round-details">west semifinals <br/><span class="date">March 26-28</span></div>
            <ul class ="matchup championship">
              <li class="team team-top">&nbsp;<span class="vote-count">&nbsp;</span></li>
              <li class="team team-bottom">&nbsp;<span class="vote-count">&nbsp;</span></li>
            </ul>
          </div>
          <div class="final">
            <i class="fa fa-trophy"></i>
            <div class="round-details">championship <br/><span class="date">March 30 - Apr. 1</span></div>
            <ul class ="matchup championship">
              <li class="team team-top">&nbsp;<span class="vote-count">&nbsp;</span></li>
              <li class="team team-bottom">&nbsp;<span class="vote-count">&nbsp;</span></li>
            </ul>
          </div>
          <div class="semis-r">
            <div class="round-details">east semifinals <br/><span class="date">March 26-28</span></div>
            <ul class ="matchup championship">
              <li class="team team-top">&nbsp;<span class="vote-count">&nbsp;</span></li>
              <li class="team team-bottom">&nbsp;<span class="vote-count">&nbsp;</span></li>
            </ul>
          </div>
        </div>


        <div class="split split-two">


          <div class="round round-three">
            <div class="round-details">Round 3<br/><span class="date">March 22</span></div>
            <ul class="matchup">
              <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
              <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
            </ul>
            <ul class="matchup">
              <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
              <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
            </ul>
          </div>  END ROUND THREE
        -->
