
.super-container{
    background-color: white;
}

.btn-primary{
    background-color: #8f0b3b;
    border-color: #8f0b3b;
}

.btn-outline-primary{
    color: #8f0b3b;
    border-color: #8f0b3b;
}


.btn-primary:hover{
    background-color: #073674;
    border-color: #073674;
}

.btn-outline-primary:hover{
    background-color: #073674;
    border-color: #073674;
}

.errorlist{
    margin-bottom: 10px;
}

.a-tournaments{
    text-decoration: none;
}

.player{
    list-style-type: none;
}

.bb{
    border-color:#073674 !important;
}

.tb{
    border-color:#8f0b3b !important;
}

.tournament-detail{
    list-style-type: none;
}

.btn-update{
    width: 10rem !important;
}

.btn-return-tournament{
    width: 10rem !important;
    background-color: #073674;
    border-color: #073674;
}

.btn-link{
    text-decoration: none;
    color: white;
}

.btn-link:hover{
    color: white;
}

.navbar-header:hover{
    text-decoration: underline;
}

.btn-create{
    width: 20rem !important;
    height: 5rem !important;
    font-size: x-large;
}

.width-li{
    width: 20rem !important;
}

.round2-m1-margin{
    margin-top: 75px;
}

.round2-m2-margin{
    margin-top: 125px;
}

.finale-margin{
    margin-top: 175px;
}

.btn-round-2{
    margin-top: 70px;
}

.btn-round-finale{
    margin-top: 175px;
}

.tb-input{
    border: 0.5px solid #8f0b3b;
    text-align: center;
}

.bb-input{
    border: 0.5px solid #073674;
    text-align: center;
}
