<html>
    <head><title>ASGT</title></head>
    <body>
        <h1>Bienvenue sur VOTRE application de compétitions personnalisées !</h1>
        <p>Les utilisateurs déjà inscrits sont :</p>
        <ul>
            {% for user in users %}
            <li>{{ user.username }}</li>
            {% endfor %}
        </ul>
        <p>Prochains participants au tournoi :</p>
        <ul>
            {% for user in users %}
            <li>{{ user.username }}</li>
            {% endfor %}
        </ul>
    </body>
</html>